{{#view tagName="div" classNameBindings=':form-group field.showError:has-error'}}
    <label class="col-sm-4 control-label" for="{{field.controlID}}">{{#if field.hasLabel}}{{field.label}}{{/if}}</label>

    <div class="col-sm-8">
        {{textarea class="form-control" id=field.controlID value=field.value placeholder=field.label}}

        {{#if field.hasErrorHint}}
            {{#if field.showError}}
            <span class="help-block">{{field.errorMessage}}</span>
            {{/if}}
        {{/if}}
    </div>
{{/view}}