<div class="form-group">
    <label for="{{field.controlID}}">{{field.label}}</label>
    {{input type='text' class="form-control" id=field.controlID value=field.value placeholder=field.label}}
</div>