<div class="form-group">
    {{#if field.hasLabel}} <label for="{{field.controlID}}">{{field.label}}</label> {{/if}}
    {{input type='text' class="form-control" id=field.controlID value=field.value placeholder=field.label}}
</div>